.table {
    width: 800px;
    font-family: 'Lato', sans-serif;
}
.table-body {
    display: flex;
    flex-direction: column;
}
.table-line {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #E0E0E0;
}
.line-itens {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 55px;

    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
}